---
import Social from './Social.astro';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<footer>
    <p>
        <Social platform="vis.social" username="@duncangeere" />
        <Social platform="linkedin.com" username="in/duncangeere" />
        <Social platform="instagram.com" username="duncan_geere" />
        <Social platform="github.com" username="duncangeere" />
    </p>
</footer>
