---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---
<header>
    <div id="biglogo">
    </div>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>