---
const { platform, username } = Astro.props;
---

<a href={`https://${platform}/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1 rem;
        background-color: #fffdf1;
        text-decoration: none;
    }
</style>
